html {
  scroll-behavior: smooth;
}
html h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html p {
  font-size: 20px;
  color: #6a5a92;
}

html h1,
h2 {
  color: #130f49;
  font-size: 3.75rem;
  font-weight: bold;
}
body {
  font-family: Helvetica;
  margin: 0px;
  overflow-x: hidden;
}

.fullscreen {
  min-height: 90vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.65em;
  .icon {
    margin-left: 10%;
  }
  .nav {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-right: 5%;
  }
  .connect_button {
    height: 3em;
    width: 15ch;
    background-color: #130f49;
    color: #fff;
    border-radius: 0.7em;
    margin-left: 0.4em;
  }
}

a {
  /* font-size: 18px; */
  /* font-weight: 600; */
  color: #130f49;
  /* margin-left: 1em; */
  text-decoration: none;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  /* align-items: center; */
  margin-top: 18vh;
  justify-content: center;
  gap: clamp(10%, 8em, 10%);
}
.info h2 {
  color: #130f49;
  font-size: 55px;
}

.info .button {
  display: flex;
  gap: 1.5em;
  margin-top: 2.8em;
}
.info .button * {
  height: 4em;
  width: 20ch;
  background-color: #130f49;
  color: #fff;
  border-radius: 0.7em;
  font-size: 16px;
  font-weight: 600;
}

.info .button .work_button {
  background-color: #34a1cd;
}

.info span {
  display: block;
  color: #34a1cd;
}

.info p {
  margin-top: 1em;
}

.image {
  width: 30em;
  height: 27em;
  position: relative;
  /* align-self: flex-start; */
}

.image .profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 49%;
  border-bottom-left-radius: 49%;
  border-bottom-right-radius: 49%;
  /* border:2.5px dashed; */
  /* border-color: #130f49; */
}

.image .purple-dots {
  position: absolute;
  top: 6px;
  left: -20px;
}

/* .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(45deg);
  z-index: 1;
} */

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100% !important;
  margin-bottom: 3%;
}

.service_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  margin-top: 4em;
}

.services_title {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 1.5em;
  margin-left: 2.5em;
  margin-bottom: 0.8em;
}
.service_image {
  height: 4em;
  width: 4em;
}
.service_content > div {
  border-radius: 1em;
  width: 31em;
  max-width: 95%;
  height: 16em;
  background-color: #fff;
}

.service_content > div:hover {
  box-shadow: 5px 20px 100px #0304040a, 9px 10px 30px #96c5dc2f;
}
.service_content h2 {
  font-size: 20px;
}

.service_content p {
  font-size: 16px;
  line-height: 1.6em;
  margin-left: 2.5em;
}

.service_content .small_desc {
  font-weight: bold;
}

.portfolio {
  display: flex;
  align-self: center;
  flex-direction: column;
  position: relative;
  margin-top: 15em;
  margin-bottom: 3em;
  width: 100%;
}
.portfolio-background {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #dc3e3e1d;
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em;
  width: 70%;
  height: 28em;
  z-index: -2;
}
.portfolio-content {
  margin-top: 1.3em;
  margin-left: 20%;
}

.portfolio-projects {
  min-width: 70%;
  max-width: 80em;
  align-self: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 4em;
}
.portfolio-projects div {
  height: 22em;
  min-width: 18em;
  width: 22em;
  border-radius: 2em;
  overflow: hidden;
}

.portfolio-projects > div:hover {
  .open {
    position: absolute;
    z-index: 100;
    background-color: #4f4b8a7d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
}

.portfolio-projects .open {
  display: none;
}

.portfolio-projects .open img {
  width: 1em;
  height: 1em;
}
.portfolio-projects .open p {
  color: #fff;
}

.portfolio-projects div img {
  object-fit: cover;
  height: 22em;
}

.portfolio_advert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  position: relative;
}
.portfolio_advert img {
  position: absolute;
  z-index: -1;
}
.portfolio_advert button {
  height: 4em;
  width: 20ch;
  border-radius: 1em;
  background-color: #130f49;
  color: #fff;
}

.portfolio_advert p {
  font-size: 2rem;
  font-weight: bold;
}

.blog {
  display: flex;
  align-self: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 10em;
  min-height: max-content;
}

.blog_div {
  margin-top: 2em;
  width: 20em;
  height: 25em;
  border-radius: 2em;
  box-shadow: 5px 20px 100px #0304040a, 9px 10px 30px #96c5dc2f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.blog_div img {
  width: 100%;
  height: 55%;
  object-fit: cover;
}

.blog_div h2 {
  padding-inline: 1em;
}

.blog_div p {
  padding-inline: 1.1em;
}

.blog_div h2 {
  font-size: x-large;
}

.blog .view_more {
  position: absolute;
  top: 90%;
  left: 90%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2em;
}
.contact .contact_element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e9f9ff;
  border-radius: 2em;
  width: 93%;
  max-width: 75em;
  height: 28em;
  margin-bottom: 2em;
  gap: 0.5em;
  text-align: center;
}

.contact h4 {
  color: #130f49;
}

.contact h2 {
  font-size: 3em;
}

.contact p {
  font-size: smaller;
}

.social {
  margin-top: 3em;
  height: 2.5em;
  gap: 1.5em;
  display: flex;
}

.social img {
  height: 2em;
  width: 2em;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.reveal {
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

@media screen and (max-width: 992px) {
  body {
    width: 100%;
    height: max-content;
    .content {
      width: 100vw;
    }
    .header {
      justify-content: flex-start;
      .nav {
        display: none;
      }
      .logo {
        margin-left: 3%;
      }
    }
    .info {
      display: flex;
      margin-top: 0.4em;
      margin-bottom: 1.5em;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
      .info_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20em;
        height: 20em;
        margin-bottom: 2em;
        .profile {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }

    .purple-dots {
      display: none;
    }
  }
}
